<ion-header>
  <ion-navbar color="padrao">
    <ion-title text-center>
      WHOQOL-Bref
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let pergunta of perguntas; let i = index">
      <ion-list radio-group [(ngModel)]="valor[i]">
        <span>{{ pergunta.info }}</span>
        <h1>{{ pergunta.questao }}</h1>
        <ion-item *ngFor="let alternativa of pergunta.respostas; let j = index">
          <ion-label>{{ alternativa }}</ion-label>
          <ion-radio [value]="j+1"></ion-radio>
        </ion-item>
      </ion-list>
      <button ion-button color="padrao" *ngIf="!final" (click)="next()" [disabled]="valor[i] == null">Next</button>
      <button ion-button color="padrao" *ngIf="final" (click)="finalizar()" [disabled]="valor[i] == null">Next</button>
    </ion-slide>
  </ion-slides>
</ion-content>
